.App {
  position: relative;
  overflow-x: clip;
}
.App > :nth-child(1) {
  background: var(--black);
  position: relative;
}
.white-gradient {
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: rgba(255, 255, 255, 0.522);
  filter: blur(100px);
  border-radius: 100px;
}

.withd {
  height: 40px !important;
}

/* Ant d */
/* styling ant-design sidebar */
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.ant-layout {
  min-height: 100vh;
}
.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}
.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}
.sm-logo {
  display: none;
}

.ant-layout-sider-collapsed .sm-logo {
  display: block;
}
.ant-layout-sider-collapsed .lg-logo {
  display: none;
}
.logo {
  background-color: #6259ca;
  margin: 0;
  height: 64px;
}
main {
  height: 85vh;
  overflow-y: scroll;
  background-color: transparent !important;
}
main::-webkit-scrollbar {
  width: 0px;
}
.ant-menu-title-content {
  font-size: 16px;
}
.ant-layout-header h5 {
  line-height: 20px;
  font-size: 14px;
}
.ant-layout-header p {
  line-height: 20px;
  font-size: 13px;
}
.ant-layout-header div .badge {
  top: 16px;
  right: -6px;
}
.error {
  color: red;
  font-size: 12px;
}

:where(.css-dev-only-do-not-override-1m62vyb).ant-menu-dark.ant-menu-inline
  .ant-menu-item,
:where(.css-dev-only-do-not-override-1m62vyb).ant-menu-dark
  > .ant-menu.ant-menu-inline
  .ant-menu-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.error-form {
  font-size: 0.8rem !important;
}

/*  */
/* :where(.css-dev-only-do-not-override-1m62vyb).ant-row {
  position: relative;
  margin: 50px auto;
  height: 600px;
  width: 100vw;
} */
:where(.css-dev-only-do-not-override-1m62vyb).ant-row {
  position: relative !important;
  margin: 50px auto !important;
  height: 600px !important;
  width: 100vw !important;
}
:where(.css-dev-only-do-not-override-1m62vyb).ant-row form {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 60% !important;
  height: auto !important;
  background-color: #f0f0f0 !important;
  border-radius: 10px !important;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3) !important;
  padding: 2rem 0 !important;
}
:where(.css-dev-only-do-not-override-1m62vyb).ant-row form div {
  display: flex !important;
  flex-direction: column !important;
  width: 80% !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 !important;
}

:where(.css-dev-only-do-not-override-1m62vyb).ant-btn > a {
  color: currentColor;
  margin-left: 10rem !important;
}

:where(
    .css-dev-only-do-not-override-1m62vyb
  ).ant-menu-dark.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-1m62vyb).ant-menu-dark
  > .ant-menu.ant-menu-root.ant-menu-inline,
:where(
    .css-dev-only-do-not-override-1m62vyb
  ).ant-menu-dark.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-1m62vyb).ant-menu-dark
  > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: 0px solid rgba(5, 5, 5, 0.06) !important;
  margin-top: 3rem !important;
}

:where(.css-dev-only-do-not-override-1m62vyb).ant-menu
  .ant-menu-item
  .ant-menu-item-icon,
:where(.css-dev-only-do-not-override-1m62vyb).ant-menu
  .ant-menu-submenu-title
  .ant-menu-item-icon {
  font-size: 2rem !important;
}
:where(.css-dev-only-do-not-override-1m62vyb).ant-menu-inline.ant-menu-root
  .ant-menu-item
  > .ant-menu-title-content,
:where(.css-dev-only-do-not-override-1m62vyb).ant-menu-inline.ant-menu-root
  .ant-menu-submenu-title
  > .ant-menu-title-content {
  font-size: 1.3rem;
  font-weight: 700;
}

:where(.css-dev-only-do-not-override-1m62vyb).ant-menu-dark.ant-menu-inline
  .ant-menu-item,
:where(.css-dev-only-do-not-override-1m62vyb).ant-menu-dark
  > .ant-menu.ant-menu-inline
  .ant-menu-item {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.imgSvg {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

:where(.css-dev-only-do-not-override-1m62vyb).ant-menu-inline.ant-menu-root
  .ant-menu-item,
:where(.css-dev-only-do-not-override-1m62vyb).ant-menu-inline.ant-menu-root
  .ant-menu-submenu-title {
  margin-bottom: 1rem;
}
